<div class="container">

  <div class="name">
    <a href="mailto:tcober5@gmail.com">
      <img src="../assets/mail.svg">
    </a>
    <h1>THOMAS&nbsp;COBER</h1>
  </div>

  <router-outlet></router-outlet>

  <div class="menu">

      <div routerLink="work-list" class="design button">
        <h2>WORK</h2>
      </div>
      
      <div routerLink="soundcloud" class="music button">
        <h2>MUSIC</h2>
      </div>
                
      <a href="https://github.com/tcober" target="_blank">
        <div class="code button">
          <h2>CODE</h2>
        </div>
      </a>
      
    </div>
</div>
